@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-cotent-md-start">
         <a class="btn btn-primary" role="button">Adicionar Novo Contato</a>
    </div>
</div>

<h1 class="display-4">LISTAGEM DE CONTATOS</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto@email.com</td>
            <td>(11)98765-4321</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-danger">Apagar</a>
                    <a class="btn btn-warning">Atualizar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>jacob@gmail.com</td>
            <td>(11)95783-9867</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-danger">Apagar</a>
                    <a class="btn btn-warning">Atualizar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td >Larry</td>
            <td>larry.thebird@gmail.com</td>
            <td>(11)93426-0286</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-danger">Apagar</a>
                    <a class="btn btn-warning">Atualizar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>